@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: url("./assets/Images/star.png") repeat center center,
    linear-gradient(90deg, #020d1d 0%, #052659 100%);
  background-size: auto, cover;
}

.auth-input {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 8px 0;
  outline: none;
  color: white;
}

.auth-input::placeholder {
  color: white;
}

.sidebar-menu{
  background-color:#052659;
 margin: 2px;
 border-radius: 20px;
 border-left: 20px;
 border-right: 20px;
}
.header-search-button{
width: 65%;
}
.main-section{
  margin-top: 10px;
  background-color: #FFFFFF;
}
.main-section-header{
  margin: 0 auto;
  width: 98%;
  padding: 20px;
  border-radius: 20px;
}
.dyanamic-page-content{
  margin: auto;
 margin-top: 10px;
 width: 98%;
 border-radius: 20px;
 background-color: #EEF8FF;
}

.main-email .email-desktop-version {
  display: none; /* visible by default */
}

.main-email .email-desktop-smaller-version{
  display: none;
}













@media (min-width: 1250px) {
  .main-email .email-desktop-version {
    display: block; /* hide above 1250px */
  }
}

@media (max-width:1250px) {
  .main-email .email-desktop-smaller-version{
    display: block;
  }
}